@{
    ViewBag.Title = "Liên Hệ - Cửa Hàng Thể Thao";
    ViewBag.Message = "Liên hệ với Cửa Hàng Thể Thao để biết thêm thông tin!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Đường Nguyễn Huệ<br />
    Quận 1, TP. Hà Nội<br />
    <abbr title="Điện thoại">ĐT:</abbr> 0392842805
</address>

<address>
    <strong>Hỗ trợ:</strong> <a href="mailto:support@cuahangthethao.com">support@cuahangthethao.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@cuahangthethao.com">marketing@cuahangthethao.com</a>
</address>
